html{
    color: #fff;
    font-family: Montserrat;
}

*{
    margin: 0;
    padding: 0;
}

.weather{
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    border: 1px solid #b2aca4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.weatheCurrentDay{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatheCurrentDay__img{
    padding-top: 20px;
}

.weatheCurrentDay__info{
    margin-top: 20px;
    margin-bottom: 15px;
}

.weatheCurrentDay__info-temperature{
    border-right: 2px solid;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 33px;
    float: left;
}

.weatheCurrentDay__info-container{
    float: left;
}

.weatheCurrentDay__info-city{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
}

.weatheCurrentDay__info-date{
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 300;
}
